<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>视频测试</title>
</head>

<body>
  <!-- <img id="img" style="width: 100%" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528104291142&di=4ee4fc626a3ab416bec849c5c639aff8&imgtype=0&src=http%3A%2F%2Fimg2.niutuku.com%2Fdesk%2F1207%2F0817%2Fntk50131.jpg"
    alt="">
  <script>
    var xiu = document.getElementById('img')
    xiu.onload = xiu.onreadystatechange = function () {
      if (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') {
        // 加载完成 
        console.log('==> loaded')
      }
    };
  </script> -->
  <video src="http://vjs.zencdn.net/v/oceans.mp4" autoplay preload controls></video>
</body>

</html>