<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/index.js"></script>
    <style>
        body, p{
            margin: 0;
            padding: 0;
        }
        .layout{
    
        }
        .card-img{
            float: left;

            width: 100px;
            height: 66.81px;
        }
        .card-img img{
            width: 100%;

        }
        .card-content{
            overflow: hidden;
            background: #eee;

            height: 66.81px;
            padding-left: 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="layout">
        <div class="card">
            <div class="card-img">
                <img src="img/1.jpeg" alt="">
            </div>
            <div class="card-content">
                <p>hello world</p>
                <p>hello world</p>
                <p>hello world</p>
            </div>
        </div>
    </div>
</body>
</html>